            {%- if site.email -%}
            <a href="mailto:info@rogernguyen.com" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/rqnguyen100" title="GitHub"><i class="fab fa-github"></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/roger-q-nguyen" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            {% endif %}