<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if triton_robotics.redirect -%}
  <a href="{{ triton_robotics.redirect }}">
    {%- else -%}
    <a href="{{ triton_robotics.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if triton_robotics.img %}
        {%- include figure.html
          path=triton_robotics.img
          alt="triton_robotics thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ triton_robotics.title }}</h2>
          <p class="card-text">{{ triton_robotics.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if triton_robotics.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ triton_robotics.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if triton_robotics.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ triton_robotics.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>